
@{
    ViewBag.Title = "Mail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-default new-mail-button-design" href="#" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Mail</a>
        <ul>
            <li>Postvak</li>
            <li>Verzonder Items</li>
            <li>Verwijderde Items</li>
        </ul>
    </div>
    <div class="col-md-10">

    </div>
</div>