@model Leerlingvolgsysteem.Models.ViewModels.AccountLoginViewModel
@{
    Layout = null;
}
@using (Html.BeginForm()){ 
    @Html.ValidationSummary()

    <label>Email</label>
    @Html.EditorFor(account => account.Email)
    <button type="submit">Submit</button>
}

